@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
* {
  box-sizing: border-box;
}
body {
  width:100%;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
.header {
  width: 100%;
  background-color:#0d1326;
  height: 50px;
  position: fixed;
  top:0;
  z-index: 2;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}
.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}
.left {
  transform: rotate(135deg);
}
.back {
  color: grey;
  padding-left: 5px;
  font-size: 20px;
  padding-top: 15px;
  display: inline;
}
.top {
  float: right;
}
.top a {
  font-size: 16px;
  color:grey;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}
.fa-pen {
  color: grey;
  font-size:20px;
}
.fa-shopping-cart {
  color:#4169e1;
  font-size:20px;
}
.fa-download {
  color: grey;
  font-size:20px;
}
.container {
  width:100%;
  margin-top: 50px;
  padding-bottom: 10%;
  background-image:url(back.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.navleft {
  float: left;
  font-size:36px;
  font-weight: bold;
  color: white;
  padding-left:70px;
}
.navright {
  overflow: hidden;
  float: right;
  margin-right: 70px;
}
.navright a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navright a:hover, .dropdown:hover .dropbtn, .dropdown:hover .dropbtn .fa-caret-down   {
color:#35a22c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.info {
  text-align:center;
  padding-top: 100px;
}
.imginfo {
  border-radius:50%;
  border: 4px solid white;
}
.banner {
  font-weight: 400;
  font-size: 56px;
  color: white;
  padding-right:5%;
  padding-left:5%
}
.p1 {
  color:white;
  font-size:24px;
  font-weight: 400;
}
.heading {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.p2 {
  width:auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 30px;
  padding-left: 15%;
  padding-right: 15%;
}
.progress {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 5px;
  text-align: left;
  justify-content:center;
}
h5 {
  font-size: 15px;
}
.progbar {
  width: 30%;
}
.file {
  width:90% ;
  height:4px;
  background-image:linear-gradient(to right,rgb(53, 162, 44) 0% , rgb(14, 168, 207) 100%);
}
.container-center {
  text-align: center;
  color:#fff;
  position: relative;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  background-image:url(3.jpg);
}
.container-center :after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100%;
  background: rgba(7, 10, 12, 0.72);
  z-index: -1;

}
.heading-center {
  margin: auto;
  padding:50px;
  text-align: center;
}
.container-center h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.container-center p {
  font-size: 16px;
  line-height:24px;
}
.info-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding:30px;

}
.col1 {
  padding: 40px 40px;
  background-color: rgba(255, 255, 255, 0.1);
}
.fa {
  color:white;
}
.fa-paint-brush, .fa-ils, .fa-camera {
  font-size:48px;
  color:#35a22c;
}
.col p {
  font-size: 14px;
  line-height: 24px;
}
.do {
  width: auto;
  padding: 5% 7%;
  text-align:center;
}
.do h1{
  font-size: 36px;
}
.pill-nav {
  color: black;
  font-size: 17px;
  width: auto;
  text-align:center;
}
.pill {
  border: .5px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
}
 .active {
  background-color:#35a22c;
  border: #35a22c;
  color: white;
}
.pill:hover {
  background-color:#35a22c;
  color: white;
  border: #35a22c;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5%;
}
.product img{
  display: block;
  max-width: 100%;
}
.form {
  background-image: url(2.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  padding: 3% 7%;
  line-height: 25px;
  width: auto;
  color:#fff;
}
.form ::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100%;
  background: rgba(7, 10, 12, 0.72);
  z-index: -1;
}
.year {
  border: 2px solid green;
  display: inline;
  font-weight: bold;
  padding: 2px 7px;
}
.say {
  width: auto;
  text-align:center;
  margin:auto;
  padding: 5%;
}
.say p {
  font-size: 18px;
}
.slider > div {
  display: none;
}
.slider .sli1 {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
}
.def img {
  border-radius: 50%;
  width: 20%
}
.def {
  width:300px;
  border: 1px solid #bbb;
  padding:20px;
  margin:10px;
  border-radius:5px;
}
.def h2 {
  color: green;
}
.sliderbtn {
  width: auto;
  text-align: center;
  margin: 20px;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}
.footer {
  width: auto;
  text-align: center;
  background-color: #212529;
  padding: 40px 100px;
  margin-bottom: 70px;
}
.social {

  margin-bottom: 50px;

}
.soc {
  border: solid #454545;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  color: white !important;
  text-decoration: none;
  display: inline-block;
  width:50px;
}
.last p {
  color:#aaa;
  padding: 20px
}
.last a {
  text-decoration: none;
  color: white;
}
.last hr {
  border: 1px solid #454545
}
#btn {
  border: .5px solid green;
  border-radius: 5px;
  color:white;
  background-color: #35a22c;
  position: fixed;
  bottom:80px;
  right:10px;
  padding:10px 15px;
}
.up {
  transform: rotate(-135deg);
  color:white;
}

@media  (max-width:600px) {
  .top .fa-pen, .edit, .download, .buy {
    display:none;
  }
  .navright {
    display: none;
  }
  .progress {
    width:auto;
    padding: 0;
    justify-content: center;
    text-align: left;
   }
  .p2 {
    width: 100%;
    font-size:14px;
  }
  .progbar {
    width: 40%;
  }
  .container {
    width:auto;
    background-size:cover;
}
  .heading-center {
    width: auto;
    margin: 0;
  }
  .info-center, .grid, .form,  {
    grid-template-columns: 1fr;
  }
  .say {
    padding: 0;
  }
  .def {
    width:90% !important;
  }
  .footer {
    width:100%;
  }
}
@media  (min-width:601px) and (max-width:767px) {
  .top .fa-pen, .edit, .download, .buy {
    display:none;
  }
  .navright {
    display: none;
  }
  .progbar {
    width: 50%;
  }
  .info-center, .form {
    grid-template-columns: 1fr;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .def {
    width:600px !important;
  }
}
@media (min-width:768px) and (max-width:992px) {
.top .fa-pen, .edit {
  display: none;
  }
  .navright {
    display: none;
  }
  .progbar {
    width: 30%;
  }
  .info-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid,{
    grid-template-columns: 1fr 1fr;
  }
  .form {
    grid-template-columns: 1fr;
  }
}
